:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  border: none;
  border-radius: calc(var(--var-spacing) * 0.5);
  background-color: var(--color-secondary-80);
  min-height: 45px;

  text-decoration: none;

  padding: var(--var-spacing);
  color: var(--color-white-100);
  cursor: pointer;

  transition: background-color 200ms cubic-bezier(0.5, 0, 0, 1);
  &:hover {
    background-color: var(--color-secondary-100);
  }
  &:active {
    transform: scale(0.98);
  }
}
