@use '../../../../../styles/abstracts' as *;

:host {
  display: flex;
  flex-direction: column;

  $size: 16px * 3;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;

  a {
    border-radius: 10px;
    background-color: var(--color-primary-50);
    padding: var(--var-spacing);

    transition: background-color 200ms cubic-bezier(0.5, 0, 0, 1),
      border-radius 100ms cubic-bezier(0.5, 0, 0, 1);

    @include flex-center;
    span {
      @include ellipsis;
      z-index: 1;
    }

    width: 100%;
    height: 100%;
    max-width: 100%;
    color: var(--color-white-100);
    text-decoration: none;

    &:hover {
      background-color: var(--color-primary-40);
    }
    &:focus {
      outline: none;
      background-color: var(--color-primary-40);
    }

    &.active {
      @include rainbow-bg();
      @include pseudo() {
        border-radius: 8px;
        width: 86%;
        height: 86%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-primary-50);
        z-index: 0;
      }
    }

    mat-icon {
      z-index: 1;
    }
    &::ng-deep * {
      position: relative;
    }
  }
}
