:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: var(--color-primary-80);
  padding: var(--var-spacing);
}

oggy-header,
form {
  max-width: 500px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--var-spacing);
}
