<oggy-header
  title="Création d'un canal de discussion"
  description="Les canaux de discussion permettent de communiquer avec une ou plusieurs personnes en même temps"
>
</oggy-header>
<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <input type="text" oggyInput oggyInitialFocus formControlName="slug" />
  <button type="submit" oggyButton>Créer le salon</button>
</form>
