@keyframes rainbow-bg {
  100%,
  0% {
    background-color: hsl(0, 100%, 80%);
  }
  8% {
    background-color: hsl(30, 100%, 80%);
  }
  16% {
    background-color: hsl(60, 100%, 80%);
  }
  25% {
    background-color: hsl(90, 100%, 80%);
  }
  33% {
    background-color: hsl(120, 100%, 80%);
  }
  41% {
    background-color: hsl(150, 100%, 80%);
  }
  50% {
    background-color: hsl(180, 100%, 80%);
  }
  58% {
    background-color: hsl(210, 100%, 80%);
  }
  66% {
    background-color: hsl(240, 100%, 80%);
  }
  75% {
    background-color: hsl(270, 100%, 80%);
  }
  83% {
    background-color: hsl(300, 100%, 80%);
  }
  91% {
    background-color: hsl(330, 100%, 80%);
  }
}

@keyframes morphy {
  100%,
  0% {
    transform: rotate(0deg);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50% {
    transform: rotate(30deg);
    border-radius: 68% 32% 32% 68% / 70% 76% 24% 30%;
  }
}
