$colors: (
  primary: (
    100: hsl(0, 0%, 15%),
    80: hsl(0, 0%, 20%),
    50: hsl(0, 0%, 30%),
    40: hsla(0, 0%, 60%),
  ),
  secondary: (
    100: hsl(196, 57%, 60%),
    80: hsl(196, 57%, 50%),
  ),
  accent: (
    100: hsl(290, 100%, 73%),
  ),
  white: (
    100: hsl(0, 0%, 100%),
  ),
  info: (
    100: hsl(209, 69%, 43%),
  ),
  warn: (
    100: hsl(51, 79%, 48%),
  ),
  error: (
    100: hsl(0, 58%, 50%),
  ),
);
