@use '../../../styles/abstracts/' as *;
@use '../../../styles/abstracts/annimation' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: calc(var(--var-spacing) * 4);

  height: 100%;
  width: 100%;

  background-color: var(--color-primary-80);
  padding: var(--var-spacing);
  color: var(--color-white-100);

  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .user {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}

.oggy {
  max-width: clamp(160px, 40vw, 300px);
  @include pseudo() {
    width: 100%;
    height: 100%;
    animation: rainbow-bg 15s linear infinite, morphy 5s linear infinite;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
    z-index: 0;
  }
  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    animation: oggy-running 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.5, 0, 0, 1);
    @keyframes oggy-running {
      from {
        transform: translate(0px, 5px) rotate(2deg);
      }
      to {
        transform: translate(-15px, -10px) rotate(-2deg);
      }
    }
  }
}

.new-room-btn {
  margin-top: calc(var(--var-spacing) * 2);
  max-width: 300px;
}
