<header>
  <h2 class="user">{{ (me$ | async)! | displayUser }}</h2>

  <p class="description">
    Bienvenue sur Oggy, une application de chat révolutionnaire
  </p>
</header>

<div class="oggy">
  <img src="assets/images/oggy.png" alt="oggy" />
</div>

<a [routerLink]="['/', 'room', 'new']" oggyButton class="new-room-btn">
  Créer un salon
</a>
