:host {
  // TODO Style
  ::ng-deep {
    color: var(--color-white-100);
  }

  display: flex;
  padding: calc(var(--var-spacing) * 2);
  border-radius: calc(var(--var-border-radius));

  &.info {
    background-color: var(--color-info-100);
  }
  &.warning {
    background-color: var(--color-warn-100);
  }
  &.error {
    background-color: var(--color-error-100);
  }
}
