:host {
  width: 100%;
  border: solid var(--color-primary-40) 1px;
  background-color: transparent;
  border-radius: calc(var(--var-spacing) * 0.5);
  min-height: 45px;

  padding: var(--var-spacing);
  color: var(--color-white-100);

  &:focus {
    outline: var(--color-secondary-100);
    outline-style: solid;
    outline-width: 1px;
  }
}
