<nav>
  <ul class="items">
    <swiper
      direction="vertical"
      slidesPerView="auto"
      [spaceBetween]="24"
      [mousewheel]="true"
      [freeMode]="true"
    >
      <ng-template swiperSlide>
        <oggy-navbar-item [link]="['/']" tooltip="Accueil">
          <mat-icon>home</mat-icon>
        </oggy-navbar-item>
      </ng-template>
      <ng-template swiperSlide *ngFor="let chatRoom of chatRooms$ | async">
        <oggy-navbar-item
          [link]="['/', 'room', 'chat', chatRoom.slug | lowercase]"
          [tooltip]="chatRoom.slug"
        >
          <span>{{ chatRoom.slug | slice: 0:2 | uppercase }}</span>
        </oggy-navbar-item>
      </ng-template>
      <ng-template swiperSlide>
        <oggy-navbar-item
          [link]="['/', 'room', 'new']"
          class="add-room"
          tooltip="Ajouter un nouveau salon"
        >
          <mat-icon>add</mat-icon>
        </oggy-navbar-item>
      </ng-template>
    </swiper>
  </ul>
</nav>
