@use '../../../../styles/abstracts' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-100);
  border-right: solid 2px var(--color-primary-50);
  &::ng-deep {
    .swiper-slide {
      height: auto;
    }
  }
}

nav {
  height: 100%;
}

.swiper {
  height: 100%;
  padding: calc(var(--var-spacing) * 4) 0;
}

.items {
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  gap: calc(var(--var-spacing) * 2);
}
