:host {
  display: flex;
  flex-direction: row;
  height: min-content;
  color: var(--color-white-100);
  gap: var(--var-spacing);

  transition: background-color 200ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: calc(var(--var-border-radius) * 0.5);
  padding: calc(var(--var-spacing) * 0.5);
  &:hover {
    background-color: var(--color-primary-50);
  }
}

p {
  margin: 0;
  padding: 0;
}

.author {
  font-weight: bold;
}

.content {
  font-weight: lighter;
}

.is-me {
  color: var(--color-secondary-80);
}
