<p class="date">{{ message.timestamp | date: 'H:mm' }}</p>
<p class="author" [ngClass]="{ 'is-me': meService.isMe(message.author) }">
  {{ message.author! | displayUser }}
</p>
<p class="content">{{ message.text }}</p>
