<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="submit()">
  <h2 mat-dialog-title>Entrez votre pseudo</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Pseudo</mat-label>
      <input type="text" matInput formControlName="pseudo" autocomplete="off" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button type="submit" color="primary">Rejoindre</button>
  </mat-dialog-actions>
</form>
