:host {
  display: block;
  min-width: clamp(100px, 35vw, 400px);
}

mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--var-spacing) * 2);

  mat-form-field {
    flex: 1;
  }
}
