<oggy-main-layout *ngIf="me$ | async; else logOutRef">
  <oggy-navbar></oggy-navbar>
  <oggy-chat-room></oggy-chat-room>
</oggy-main-layout>

<ng-template #logOutRef>
  <ng-lottie [options]="options"></ng-lottie>
  <ng-lottie [options]="options"></ng-lottie>
</ng-template>
