:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: var(--color-primary-100);
}

ng-lottie {
  position: absolute;

  &:nth-child(1) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
  }

  &:nth-child(2) {
    right: var(--var-spacing);
    top: 0;
    transform: rotate(90deg);
    max-width: 250px;
  }
}
