<ng-container
  *ngIf="{
    conexionStatus: conexionStatus$ | async
  } as obs"
>
  <ng-container *ngIf="obs.conexionStatus && formGroup; else noConnectionRef">
    <div class="zone-messages">
      <ng-container *ngIf="!ghosts.length; else ghostRef">
        <div class="empty-room-message" *ngIf="!messages?.length">
          <p>Bienvenue sur {{ chatRoom?.slug }}</p>
          <p>Écrivez le premier message 🚀</p>
        </div>
        <oggy-message
          *ngFor="let message of messages | orderBy: 'timestamp' | reverse"
          [message]="message"
        >
        </oggy-message>
      </ng-container>
      <ng-template #ghostRef>
        <oggy-message-ghost *ngFor="let ghost of ghosts"></oggy-message-ghost>
      </ng-template>
    </div>
    <form
      class="zone-write-messages"
      [formGroup]="formGroup"
      (ngSubmit)="submit()"
    >
      <input
        placeholder="Message..."
        autocomplete="off"
        oggyInput
        type="text"
        formControlName="text"
        [readonly]="!obs.conexionStatus"
        oggyInitialFocus
      />
    </form>
  </ng-container>
  <ng-template #noConnectionRef>
    <div class="loading">
      <ng-lottie [options]="options"></ng-lottie>
      <p>Connexion ...</p>
    </div>
  </ng-template>
</ng-container>
