@use '../../../styles/abstracts/' as *;

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  align-items: end;
  height: 100%;
  width: 100%;
  background-color: var(--color-primary-80);
  padding: var(--var-spacing);
  position: relative;
}

.zone-messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;

  .empty-room-message {
    color: var(--color-white-100);
    padding: 0 var(--var-spacing);
    p {
      margin: var(--var-spacing);
    }
  }
  @for $i from 1 through 6 {
    oggy-message-ghost:nth-child(#{$i}) {
      max-width: random(550) + px;
    }
  }
}

.zone-write-messages {
  color: var(--color-white-100);
  display: flex;
  align-items: center;
  margin-top: calc(var(--var-spacing) * 2);
  mat-form-field {
    width: 100%;
    &::ng-deep {
      .mat-form-field-wrapper {
        padding: 0;
      }
    }
  }
}
.loading {
  @include absolute-center;
  max-width: 300px;
  text-align: center;
  color: var(--color-white-100);
}
