:host {
  height: 15px;
  width: 100%;
  max-width: 100px;
  min-width: clamp(100px, 30vw, 300px);
  background-color: var(--color-white-100);
  opacity: 0.15;
  border-radius: calc(var(--var-border-radius) * 0.5);
  margin-top: calc(var(--var-spacing) * 1.5);
  margin-left: var(--var-spacing);
}
